<div class='container'>
	<div class='shop-coming-soon'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='coming-soon-header'>Shopify Sync Install</div>
				<div class='coming-soon-subheader'>
					Doesn't look like you're logged in to KindBuys.
					<br /><br />
					If you have an account, please login to start syncing Shopify.
					<br /><br />
					<div>
						<button class="btn contact-button green-button btn-success">
							<%= link_to 'LOGIN', admin_login_path %>
						</button>
					</div>
					<br />
					If you do not have an account, and would like to start selling on our platform, please visit the vendor sign up page and contact us.
					<br /><br />
					<div>
						<button class="btn contact-button green-button btn-success">
							<%= link_to 'BECOME A VENDOR', about_vendors_path %>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>